.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginPg{
    background-color: rgb(245, 245, 245);
    width: 500px;
    height: 550px;
}
.na{
    margin-top: 30px;
    margin-left: 10px;
    height: 70px;
    position: relative;
}
.em{
    margin-top: 30px;
    margin-left: 10px;
    height: 70px;
    position: relative;
}
.ps{
    margin-top: 30px;
    margin-left: 10px;
    height: 70px;
    position: relative;
}

.hb{
    margin-top: 30px;
    margin-left: 10px;
    height: 70px;
    position: relative;
}

input{
    width: 450px;
    height: 30px;
    border-radius: 4px;
    border: 1.2px solid rgba(226,50,71,255);
}

.fa-solid.fa-circle-exclamation{
    position: absolute;
    top: 65%;
    left: 430px; /* Adjust the left distance as needed */
    font-size: 1.1rem;
    pointer-events: none; /* Allows text field to be clickable */
}



label{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin: 0px;
    margin-left: 10px;
    margin-top: 5px;
    color: rgba(226,50,71,255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.84rem;
}

select{
    width: 460px;
    height: 30px;
    border-radius: 4px;
    border: 1.2px solid black;
}

.last{
    margin-top: 20px;
    display: flex;
    margin-left: 10px;
}

.clicl{
    width: 465px;
    height: 30px;
    background-color: rgb(249, 60, 82);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}